apiVersion: v1
kind: ConfigMap
metadata:
  name: context
data:   
  sdcApiServerImage: ghcr.io/sdcio/sdc-apiserver:${CONFIG_SERVER_VERSION}
  sdcControllerImage: ghcr.io/sdcio/sdc-controller:${CONFIG_SERVER_VERSION}
  dataServerImage: ghcr.io/sdcio/data-server:${DATA_SERVER_VERSION}